/* src/Components/Footer/Footer.scss */

.footer {
  background-color: #1f2937; // Tailwind: bg-gray-900
  color: #d1d5db; // text-gray-300


  .inner {
    padding: 3rem 0;
    width: 100%;
  }

  .footer-grid {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
    div{
      flex: 1;
    }

    @media (min-width: 768px) {
   
    }
  }

  .footer-title {
    font-size: 1.6rem;
    // font-weight: bold;
    margin-bottom: 1rem;
  }

  .footer-list>li {
    color: #9ca3af; // text-gray-400
    font-size: 1.4rem;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
      color: inherit;
      transition: color 0.3s;

      &:hover {
        color: #fff;
      }
    }
  }

  .footer-text-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #9ca3af;
  }

  .footer-socials {
    display: flex;
    gap: 1rem;

    a {
      font-size: 2rem;
      color: #9ca3af;
      transition: color 0.3s;

      &:hover {
        color: #fff;
      }
    }
  }


  .inner:last-child {
    border-top: 1px solid #374151; // border-gray-800
    margin-top: 2rem;
    padding-top: 2rem;
    color: #9ca3af;
    font-size: 1.6rem;
    p{
      text-align: center;
      width: 100%;

    }
  }
}