.splide__slide {
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .inner {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
  
}