
/* 전역 스타일 확장 가능 */
body {
  background-color: #f9f9f9;
  h1 {
    font-size: 3rem;
  }
  section {
    h2 {
      font-size: 5rem;
      text-transform: uppercase;

    }
    p{
      font-size: 2rem;
      font-weight: 200;
    }
  }
  .inner {
    height: 100%;
    max-width: 1440px;
    margin: auto;
    position: relative;
  }
}